{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto mt-5 ">
    <h2 class="text-primary">Connexion</h2>
    <div class="mx-auto col-6">
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-secondary">Connexion</button>
        </form>
    </div>
</div>
{% endblock %}