{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto mt-5 ">
    <div class="mx-auto col-6">
        <h2>Déconnexion</h2>
        <p>Etes-vous sûr(e) de vouloir vous déconnecter?</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger">Déconnexion</button>
        </form>
    </div>
</div>
{% endblock %}