{% extends 'base.html' %}
{% block content %}
<h2>Inscription</h2>
<div class="container mx-auto mt-5 ">
    <div class="mx-auto col-6">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Inscription</button>
        </form>
    </div>
</div>
{% endblock %}}