{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="account-bg mt-0">
  <div class="h-50 container-fluid">
    <div class="row bg-dark justify-content-between">
      <div class="col-8">
        <h1 class="text-primary" style="font-size: 5rem; opacity: 0.2">DASHBOARD</h1>
      </div>
      <div class="col-1">

        <p class="" style="font-size:0.8rem;margin-top: 4rem"><a class="text-danger align-text-bottom" href="{% url 'account_logout' %}">Déconnexion</a></p>
      </div>
  </div>
</div>
<div class="text-center  my-5 py-1">
  <p class="text-black-50">Bonjour, votre adresse email: </p>
  <p id="user_email">{{ user.email }}</p>
  <div class="control h-25" style="height: 100px";>
    <p id="message_update" class="" style="font-size:0.8rem;"></p>
  </div>
</div>
<div class="container position-static my-5">
<div class="col-md-12 text-center">
  <button type="button" class="text-primary btn btn-warning btn-sm" data-toggle="modal" data-target="#UpdateModal">Modifier ses
    informations</button>
</div>
<!-- modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="UpdateModalLabel">Mise à jour de votre email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <form method="post">
            {% csrf_token %}
            {{ form_update.as_p }}
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
        <button id="save_button" type="button" data-test="test" class="btn btn-danger">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Modal -->
{% load static %}
<script type="text/javascript" src="{% static '/js/ajax_request.js' %}"></script>
{% else %}
<div class="text-center my-5 py-5">
  <h1 class="my-5">Ayomi Test Project</h1>
  <h5>Bonjour!</h5>
  <p>Vous n'êtes pas connecté(e)</p>
  <a href="{% url 'account_login' %}">Connexion</a> |
  <a href="{% url 'account_signup' %}">Inscription</a>
</div>
{% endif %}
{% endblock %}